.landing-container {
  width: 100%;
  height: 100vh;
  background-image: url("./../../Assets/timothy-meinberg-phx4UXMQRTg-unsplash.jpg");
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.header {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  font-size: 3.2rem;
}

P {
  font-size: 2.4rem;
}

h2, p {
  width: 50%;
}

.header-item {
  margin-bottom: 3vh;
}

button {
  background-color: wheat;
  color: #262626;
  box-shadow: 0 3px 12px 0 black;
  font-weight: bold;
  border: 2px solid #262626;
  border-radius: 150px;
  padding: 8px 10px;
  font-size: 14px;
  transition-duration: 0.3s;
}

.button-arrow {
  font-size: 18px;
  padding-left: 10px;
  display: inline;
}

button:hover{
  background-color: #262626;
  color: skyblue;
  border: 2px solid skyblue;
  box-shadow: 0 0px 0px 0 black;
}

