.about-section {
  /* background-image: url("../../Assets//memphis-mini-dark.png"); */
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container {
  background-color: #1c1c1c;
  color: white;
  width:80%;
  margin-top: 12vh;
  margin-bottom: 24vh;
}

.about-container-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container h1 {
  font-size: 4rem;
  font-weight: bold;
  width: 100%;
  text-align: left;
  margin-bottom: 8vh;
  border-bottom: 7px solid skyblue;
}

.about-me-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.picture-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me {
  width: 60%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-container h3 {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1vh;
  border-bottom: 2px solid skyblue;
  padding-bottom: 5px;
  margin-bottom: 2vh;
}

.about-container p {
  font-size: 1.2rem;
  width: 100%;
  line-height: 30px;
  margin-bottom: 8vh;
}

.my-photo {
  width:20vw;
  border-radius: 100px;
}

.skill-logo {
  width: 75px;
  height: 75px;
  margin: 30px;
}

.about-skills {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-skills h4 {
  text-align: center;
  font-size: 1.4rem;
}

.language-container {
  display: flex;
  flex-direction: row;

}

.library-container {
  display: flex;
  flex-direction: row;
}